
body{
    background-color: black;
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
/* .nav-menu{
    margin-top: none;
    display: flex;
} */
li{
    margin-left: 50px;
}
button{
    margin-left: 200px;
    width: 150px;
    height: 40px;
    text-justify: initial;
    margin-top: -2px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 2px;
}
button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1px solid green;
}
a:hover{
    color: green;
}
.active{
    color: green;
}
header{
    color: white;
}
footer{
    color: white;
    position: relative;
    bottom: 0%;
}

.footer-notice ul.socials{
    align-items: center;
}
nav{
    height: 100px;
    position: sticky;
    background-color: black;
    top: 0px;
}
.nav-menu{
    margin-top: 50px;
    position: sticky;
    top: 10px;
}
li{
    display: inline;
}

.Menu-links{
    position: sticky;
    top: 0px;
    margin-left: -300px;
}

.Navigation{
    position: sticky;
    top: 30px;
}

.homepage{
    width: 100%;
  display: flex;
}

.description-section-header{
    width: 40%;
    margin-left: 10%;
}
.image-section-header{
    width: 30%;
}

.iconone{
border-radius: 50%;
}
